<header>
    <picture>
        <source media="(min-width: 500px)" [srcset]="'assets/images/bg-header-desktop.svg'">
        <img [src]="'assets/images/bg-header-mobile.svg'" alt="Header image">
      </picture> 
</header>

<main *ngIf="jobs">
<div *ngFor="let job of jobs" class="container card">
    <div class="avatar">
        <img [src]="job.logo" [alt]="job.company">
    </div>

    <div class="role-stats">
        <div>
            <h4>{{job.company}}</h4>

            <div>
                <span *ngIf="job.new">NEW!</span>
                <span *ngIf="job.featured">FEATURED</span>
            </div>
        </div>

        <div>
            <h4>{{job.position}}</h4>

            <div class="details">
                <span *ngFor="let languages of job.languages; let i = index">{{languages}}<span *ngIf="i < job.languages.length - 1">, </span></span>
            </div>

        </div>

    </div>

</div>

</main>